{
  "parser": "babel-eslint",

  "plugins": ["jest", "prettier"],

  "extends": ["airbnb-base", "prettier"],

  "rules": {
    "strict": 0,
    "no-plusplus": "off"
  },

  "env": {
    "jest/globals": true
  }
}
